*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/mobilertc/build/.transforms/1f48b2dd9d1d8080c3a3c1fc6b92dbe9/jetified-mobilertc/
/commonlib/build/.transforms/
/mobilertc/build/.transforms/
